{% extends "base.html" %}
{% block content %}
<div class="flex-row">
  <h2>Usuários</h2>
  {% if current_user.role in ['ADMIN','OL'] %}
    <a class="btn" href="{{ url_for('users_new') }}">+ Novo</a>
  {% endif %}
</div>

<div class="table-wrap">
<table>
  <thead>
    <tr>
      <th>ID</th><th>Nome</th><th>Email</th><th>CPF</th><th>Papel</th><th>Ações</th>
    </tr>
  </thead>
  <tbody>
  {% for u in users %}
    <tr>
      <td>{{ u.id }}</td>
      <td>{{ u.nome }}</td>
      <td>{{ u.email }}</td>
      <td>{{ u.cpf }}</td>
      <td>{{ u.role }}</td>
      <td class="actions">
        {% if current_user.role == 'ENTREGADOR' and u.id != current_user.id %}
          —
        {% else %}
          <a href="{{ url_for('users_view', user_id=u.id) }}" class="btn">Ver</a>
          <a href="{{ url_for('users_edit', user_id=u.id) }}">Editar</a>
          {% if (current_user.role == 'ADMIN') or (current_user.role == 'OL' and u.role == 'ENTREGADOR') %}
          <form method="post" action="{{ url_for('users_delete', user_id=u.id) }}" onsubmit="return confirm('Excluir?')" style="display:inline;">
            <button type="submit" class="link-danger">Excluir</button>
          </form>

          {% endif %}
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
